#!/bin/bash
# config parameters for the shareLinkCreator

baseURL="https://localhost/owncloud"
shareURL="https://localhost/owncloud/public.php?service=files&t="
localDir="/home/user/ownCloud/"
username=